# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
debug

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Exclude dist folder
dist

# exclude node
node_modules


# Application 
launch.json
settings.json
cmd/aspiratv/aspiratv
cmd/aspiratv/test*.json
errors.log
tmp/*
web/app.wasm
