@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
.plot {
    // width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

// Toaster and Bulma: https://meforma.github.io/vue-toaster/
.toast-container {
    width: 100%;
    z-index: 99999;
    position: fixed;
    pointer-events: none;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    overflow: hidden;
    flex-direction: column;
}

.toast {
    margin: .5em 0;
    display: grid;
    width: auto;
    pointer-events: auto;
    white-space: pre-wrap;
    opacity: 1;
    right: 0;
    top: 0;
    align-self: flex-end;
    // text-align: right;
    // align-items: flex-end;
}