@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
.plot {
    // width: 250px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.toast-container {
    width: 100%;
    z-index: 99999;
    position: fixed;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    padding: 15px
}

.toast {
    width: auto;
    pointer-events: auto;
    display: inline-flex;
    white-space: pre-wrap;
    opacity: 1;
    right: 0;
    top: 0;
    text-align: right;
    align-items: flex-end;
}